h1 {
    font-size: 2em;
    margin: 0.5em 0;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 1em 0 0.5em;
  }
  
  p {
    margin: 0.5em 0;
  }
  
  table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 0.5em;
    text-align: left;
  }
  
  th {
    background-color: #ddd;
  }
  
  .line-chart-container {
    margin-top: 1em;
  }
  